* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#container1 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #04588C 19.03%, #079DD9 100%);

}
#container2{
  width: 95%;
  position: absolute;
  height: 100%;
  right: 0;
  top : 0;
  bottom: 0;
  background: #15152D;
  border-radius: 30px 0 0 30px;
}

#main {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

}
#main-1 {
  width: 80%;
  #bapt{
    position: relative;
    width: 100%;
    font-weight: 600;
    font-size: 2em;
    color: white;
    box-sizing: border-box;
    padding: 30px;
  }
  #main-1-2 {
    height: 85%;
    position: relative;
    background: aliceblue;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;

    #a_propos_projet {
      position: relative;
      width: 50%;
      margin-right: 10px;
      height: 100%;
      background-color: blue;
    }
    #langages_projet {
      position: relative;
      margin-left: 10px;
      width: 50%;
      height: 100%;
      background-color: red;
    }
  }
}

#main-2 {
  position: relative;
  margin-left: 20px;
  right: 0;
  background: aliceblue;
  width: 20%;
  height: 100%;
}


.card {
  background: #252246;
  border-radius: 30px;

}

